/* Estilos de primer sitio HTML - Freelancer Project */
/* reseteamos el tamaño de texto */
html{
  font-size: 62.5%; /*hack para manejar los tamaños de texto*/
}
body{
  font-size: 16px; /*1 rem = 16px*/
  font-family: "Krub", sans-serif;
}

/* Paleta de colores de nuestro proyecto */
:root{
  /* colores */
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #FFC107;
  --secundario:#0097A7;
  --gris:757575;

}

/* estilos para nuestros elementos */
.titulo{
  text-align: center;
  font-size: 3.8rem;
  color:var(--oscuro);
}

.titulo span{
  font-size: 2rem;
}

/* Navegación */
.nav-background{
  background-color: var(--secundario);
}
.contenedor{
  width: 120rem;
  margin: 0 auto;
}
.navegacion-principal{
  display: flex;
  justify-content: space-between;
}

.navegacion-principal a{
  color: var(--blanco);
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  padding:1rem;
}

.navegacion-principal a:hover{
  background-color: var(--primario);
  color: var(--oscuro);
}
